<section class="position__creation">
{{#if isAdmin}}
    <button class="position__add"><span>Add</span><img src="http://localhost:4000/icons/position.png"><br><span>position</span></button>
    <div class="position__create hidden"></div>
{{/if}}
{{#if isNotUser}}
{{/if}}
</section>