<span><h1>new position creation</h1></span>
<p><img src="http://localhost:4000/icons/department.png"><input class="department" maxlength="2" placeholder="  qa (department name)"></p>
<p><img src="http://localhost:4000/icons/position.png"><input class="position" maxlength="20" placeholder="  deputy head of qad (position name)"></p>
<button class="position__save button">save position</button>
<img class="position__canceal" src="http://localhost:4000/icons/canceal.png">