<h4>{{position}}</h4>
<img src={{photo}}>
<h3>Vacant</h3>
<h4></h4>
<button class="employee__add button">Add employee</button>
{{#if isAdmin}}<button class="position__remove button">Remove position</button>{{/if}}