<div class="authorization"> 
    <h1 class="page-title">Please, enter your login and password.</h1>
    <label>login:<input class="employee__login" maxlength="15" placeholder=" bill1991"></label>
    <label>password:<input class="employee__password" type="password" maxlength="12" placeholder="  1111"></label>
    <div class="error__message"></div>
    <button class="user__login button">log in</button>
</div>